---
// src/pages/index.astro
import Layout from "../../layouts/Layout.astro"; // Solo importas el Layout
export const prerender = false;
---

<Layout
  title="Ignia Cloud"
  Content_Description="La mejor solución en la nube para tu empresa"
>
  <h1 class="text-4xl font-bold text-center mt-10">
    Bienvenue sur mon site web !
  </h1>
  <p class="text-center mt-4">Ceci est le contenu de la page d'accueil.</p>
</Layout>
