---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro"; // Solo importas el Layout
---

<Layout
  title="Ignia Cloud"
  Content_Description="La mejor solución en la nube para tu empresa"
>
  <h1 class="text-4xl font-bold text-center mt-10">Welcome to my website!</h1>
  <p class="text-center mt-4">This is the content of the home page.</p>
</Layout>
