---
// src/pages/index.astro
import Layout from "../../layouts/Layout.astro"; // Solo importas el Layout
---

<Layout title="Ignia Cloud">
  <h1 class="text-4xl font-bold text-center mt-10">
    ¡Bienvenido a mi sitio web!
  </h1>
  <p class="text-center mt-4">Este es el contenido de la página de inicio.</p>
</Layout>
